
@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'base/colores' as c;
@use 'base/tipografia' as t;

// PARTE VERMAS



.partesCrear,
.partesEditar,
.partesVermas {

    .Fecha {
        .campo:nth-child(1) {
            width: 20%;
            label{
                margin: 0 1rem 0 1rem;
            }
        }
        .campo:nth-child(2) {
            width: 20%;
            label{
                margin: 0 1rem 0 1rem;
            }
        }
        .campo:nth-child(3) {
            width: 55%;
            label{
                margin: 0 1rem 0 1rem;
            }
        }
        .campo:nth-child(4){
            width: 5%;
            justify-content: center;
            img{
                width: 4rem;
            }
        }
        
        input{
            width: 100%;
        }

        .campo{
            input[type='date']{
                padding: 1rem;
            }
        }
    }

    .Finca,
    .Empleado {
        .campo{
            width: 95%;
        }
        .campo:last-child{
            width: 5%;
            justify-content: center;
            img{
                width: 4rem;
            }
        }
    }


// PARTE TABLA
    .cabeceraTabla{
        
        .Cafila{
            border-right: 2px solid white;
        }

        .CAnombreEmpleado,
        .CAselectTrabajos, 
        .CAselectMaquinas, 
        .CAselectProductos{
            width: 18%;
            border-right: 2px solid white;

        }

        .CAcantTra, 
        .CAcantMaq {
            width: 7%;
            border-right: 2px solid white;
        }

        .Cafila,
        .CAnombreEmpleado,
        .CAselectMaquinas,
        .CAcantTra, 
        .CAcantMaq  {
            background-color: c.$light-green-50;
        }


      
        .CAcantPro{
            width: 9%;
            border-right: 2px solid white;
        }
        .CAok,
        .CAborrar{
            width: 4%;
        }

        .CAselectTrabajos,
        .CAcantTra,
        .CAselectProductos,
        .CAcantPro {
            background-color: c.$green-100;
        }

    }
    
    #cuerpo{
        tr{
            background-color: transparent;
            width: 100%;
            text-align: center;
            .nombre {
                padding-left: 1rem;
                text-align: start;
            }
        }

        td{
            padding: 0.8;
        }

        #indicefila{
            background-color: c.$light-green-50;
            border-radius: 0.5rem;
        }

        .horastrabajo, 
        .horasmaquina, 
        .cantidadproducto {
            width: 100%;
            border: 1px solid darken(c.$gris, 10%);
            border-radius: 0.5rem;
            padding: 1rem;
            font-size: 1em;
        }

        .selecttrabajo,
        .selectproducto,
        .horastrabajo, 
        .cantidadproducto {
            background-color: c.$green-100;
        }

        select{
            width: 100%;
            border-radius: 0.5rem;
        }

        .imgboton{
            padding: 0.5rem;
        }

        .imgok,
        .imgpapelera {
            width: 5rem;
        }
    }
}

///////////////////////////


// LISTADO PRICIPAL PARTES DE TRABAJO
.partesListado {

    .contenedorDos{
        width: 100%;
        .conuno{
            width: 20%;
        }
        .condos{
            width: 80%;
            text-align: end;
        }
    }

    .contenedorBusquedas {
        display: flex;
        align-items: center;
        width: 100%;
        margin-bottom: 0.5rem;
        border: 1px solid darken(c.$gris, 10%);
        border-radius: 1rem;
        background-color: c.$cyan-50;

            .finicio,
            .ffin {
                width: 17%;
                margin-left: 0.5rem;

                label{
                    width: 5rem;
                    font-size: 1rem;
                    text-align: center;
                    margin-right: 0.5rem;
                }

                input[type='date']{
                    padding: 1rem;
                    width: 12rem;
                }
            }
        
            .client,
            .finc {
                width: 30%;

                label{
                    width: 6rem;
                    font-size: 1rem;
                    justify-content: end;
                    margin-right: 0.5rem;
                    margin-left: 0.5rem;
                }
                select{
                    margin: 0;
                }
            }

            .boton {
                width: 10%;
            }
    }

    .contenedorTres{
        display: flex;
             
        .campoUno {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 18%;
        }

        .campoDos {
            display: flex;
            justify-content: center;
            align-items: center;
            
            width: 10%;
            
            .flecha {
                padding: 0.5rem;
                width: 4rem;
            }
        }

        .campoTres{
            display: flex;
            justify-content: center;
            align-items: center;
            
            width: 15%;
        }

        .campoCuatro{
            display: flex;
            justify-content: center;
            align-items: center;
            
            width: 60%;
        }

        label{
            margin: 0 1rem 0 1rem;
            width: auto;
        }
        
        input[type="submit"]{
            width: 5rem;
            height: 5rem;
        }
    }

    .cabeceraTabla{
        .ver {
            width: 5rem;
        }
    }

    #cuerpo{
        .edit {
            display: flex;
            justify-content: center;
            align-items: center;

            a{
                img{
                    width: 3rem;
                    padding: 0.2rem;
                }
            }
        }
    }

 


    
    .paginacion{
        margin-top: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

// Colores de columnas
.partesVermas {
    .nombre,
    .maquinas,
    .hmaquinas{
        background-color: c.$light-green-50;
    }

    .trabajo,
    .htrabajos,
    .productos,
    .cproductos {
        background-color: c.$green-100;
    }
}


.totales{
    display: flex;
    justify-content: flex-end;
    margin: 1rem 0 1rem 0;

    .campo:first-child {
        justify-content: flex-end;
        margin-right: 3rem;

        label {
            font-size: 1.6rem;
            color: c.$blue-grey;
        }
    }
    .campo {
        width: 15%;
    }
    label {
        width: 6rem;
    }

}