
@use 'base/variables' as v;
@use 'base/mixins' as m;
@use 'base/colores' as c;
@use 'base/tipografia' as t;

// css administracion


.adminTabla{
    border: 1px solid darken(c.$gris, 10);
    margin: 2rem 1rem 1rem 1rem;
    border-radius: 1rem;
    padding: 1rem;

    td{
        img{
            width: 12rem;
        }
    }

    h5{
        margin: 0 0 1rem 0;
        padding: 0;
        font-size: 2rem;
    }

    .ver,
    .actualiza,
    .elimina{
        width: 4rem;
    }

}